<app-loader *ngIf="isLoading"></app-loader>
<div class="container-fluid">
  <h6 class="manulal-plan-header">
    <b>Shipment Export Upload</b>
  </h6>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="create-plan">
        <div class="uploadfile">
          <img src="./assets/images/Upload.png" alt="upload image" class="img-fluid" />
          <h5>
            <label for="plan-file">
              <u>Click here</u> to Upload Files</label>
          </h5>
          <input type="file" (change)="onFileChange($event.target.files)" value="" id="plan-file" accept=".csv" (click)="itemsImportInput.value = null"
            #itemsImportInput/>
          <a download href="./assets/excel/Export Shipment Template.csv">
            <p>Download Shipment Export Template</p>
          </a>
          <div class="error-log" *ngIf="IsErrorLog">
            <mat-card>
              <mat-list role="list">
                <mat-list-item *ngFor="let data of ErrorData">{{data}}</mat-list-item>
              </mat-list>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>