<app-loader *ngIf="isLoading"></app-loader>
<div class="container-fluid">
  <h6 class="manulal-plan-header">
    Loadslip > <span>View Load Slip</span>
    <span class="pull-right refresh-span">
        <!-- <button class="theme-small-button" (click)="export()" matTooltip="Export Download">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
          </button> -->
      <button class="theme-small-button" (click)="locationBack()" matTooltip="Back">
        <i class="fa fa-reply" aria-hidden="true"></i>
      </button>
    </span>
  </h6>
  <div class="clearfix"></div>
  <div class="loadslip-fields">
    <div class="row margin-bottom-5">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-2">
            <div class='bordered'>
              <div>Source</div>
              <div>
                <b>{{userSource || '--'}}</b>
              </div>
            </div>
          </div>
          <div class="col-md-2 pd-0 ">
            <div class="form-group bordered">
              <div>Destination</div>
              <div>
                <b>{{destination?destination:'--' | uppercase}}</b>
              </div>
            </div>
          </div>
          <div class="col-md-2 pr-0">
              <div class="form-group bordered">
                <div>Dest Desc</div>
                <div [title]="description" [ngClass]="{'cursor-pointer':description?.length>9}" >
                    <b>{{description ? (description?.length>9) ? (description | slice:0:9)+'..':(description) : '--'}}</b>
                </div>
              </div>
            </div>
          <div class="col-md-2 pr-0 ">
            <div class="form-group bordered">
              <div>
                Truck
              </div>
              <!-- <div>
                <b>{{truckT?truckT:'--' }} 
                  <span *ngIf = "truckIndentCategory"> &nbsp; - &nbsp;({{truckIndentCategory}})</span>
                </b>
              </div> -->
              <div [title]="fullTruckNumCat" [ngClass]="{'cursor-pointer':fullTruckNumCat?.length>9}" >
                <b>{{fullTruckNumCat ? (fullTruckNumCat?.length>9) ? (fullTruckNumCat | slice:0:9)+'..':(fullTruckNumCat) : '--'}}</b>
            </div>
            </div>
          </div>
          <div class="col-md-2 pr-0">
            <div class="form-group bordered">
              <div>Truck Type</div>
              <div>
                <b>{{truckType?truckType:'--'}}</b>
              </div>
            </div>
          </div>
          <div class="col-md-2 pr-0">
            <div class="form-group bordered">
              <div>Transporter</div>
              <div>
                <b>{{transporter?transporter:'--' }}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-2 pr-0">
            <div class="form-group bordered">
              <div>Indt Cat</div>
              <div>
                <b>{{truckIndentCategory?truckIndentCategory:'--' }}</b>
              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="form-group bordered">
              <div>
                Ship To
              </div>
              <div>
                <b>{{ShipTo?ShipTo:'--'}}</b>
              </div>
            </div>
          </div>
          <div class="col-md-3 pl-0">
            <div class="form-group bordered">
              <div>Actual Truck Type</div>
              <div>
                <b>{{actualTruckType || '--'}}</b>
              </div>
            </div>
          </div>
          <div class="col-md-2 pl-0">
            <div class="form-group bordered">
              <div>Variant 1</div>
              <div>
                <b>{{variant_ONE || '--'}}</b>
              </div>
            </div>
          </div>
          <div class="col-md-2 pl-0">
            <div class="form-group bordered">
              <div>Frt Avail</div>
              <div>
                <b>{{ freightAvailableflag || '--'}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-bottom-5">
     <div class="col-md-7">
       <div class="row">
         <div class="col-md-5">
          <div class="row">
            <div class="col-md-6">
              <div class='bordered'>
                <div>Shipment No</div>
                <!-- <div [title]="shipmentNumber" [ngClass]="{'cursor-pointer':shipmentNumber?.length>13}">
                    <b>{{shipmentNumber ? (((shipmentNumber?.length>13)? (shipmentNumber | slice:0:13)+'..':(shipmentNumber)) | uppercase) : '--'}}</b>
                  </div> -->
                  <b>{{shipmentNumber ? (shipmentNumber| uppercase) : '--'}}</b>
              </div>
            </div>
            <div class="col-md-6 pd-0">
              <div class='bordered'>
                <div>Load Slip No </div>
                <div><b>{{loadslipID || '--'}}</b></div>
              </div>
            </div>
          </div>
         </div>
          <div class="col-md-6">
              <div class="row text-center">
                  <div class="col-md-3 pr-0">
                      <div class='bordered'>
                        <div> Wt (Kg)</div>
                        <div >
                          <b>{{totalWeight?(totalWeight | number : '1.2-2'):0}}</b>
                        </div>
                      </div>
                    </div>
                <div class="col-md-3 pr-0">
                      <div class='bordered'>
                        <div> TTE Util</div>
                        <div [ngClass]="(totalTTESelected > 100)?'text-danger':'color-green'">
                          <b>{{totalTTESelected?(totalTTESelected | number : '1.2-2'):0 }}%</b>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 pr-0">
                      <div class='bordered'>
                        <div> Wt Util</div>
                        <div [ngClass]="(totalMaterialWeight > 100)?'text-danger':'color-green'">
                          <b>{{totalMaterialWeight?(totalMaterialWeight | number : '1.2-2'):0}}%</b>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 ">
                      <div class='bordered'>
                        <div> Vol Util</div>
                        <div [ngClass]="(totalTruckVolume > 100)?'text-danger':'color-green'">
                          <b>{{totalTruckVolume?(totalTruckVolume | number : '1.2-2'):0}}%</b>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
            <div class="col-md-1 pd-0">
              <div class='bordered'>
                <div>Tyres</div>
                <div>
                  <b>
                    {{totalTyres?totalTyres:0}}
                  </b>
                </div>
              </div>
            </div>
       </div>
      
     </div>
      <div class="col-md-5">
        <div class="row">
            <div class="col-md-2 pr-0">
                <div class='bordered'>
                  <div>Tubes</div>
                  <div>
                    <b>
                      {{totalTubes?totalTubes:0}}
                    </b>
                  </div>
                </div>
              </div>
            <div class="col-md-2 pr-0">
                <div class='bordered'>
                  <div>Flaps</div>
                  <div>
                    <b>
                      {{totalFlaps?totalFlaps:0}}
                    </b>
                  </div>
                </div>
              </div>
              <div class="col-md-2 pr-0">
                <div class='bordered'>
                  <div> Valves</div>
                  <div>
                    <b>
                      {{totalValves?totalValves:0}}
                    </b>
                  </div>
                </div>
              </div>
              <div class="col-md-2 pr-0">
                <div class='bordered'>
                  <div>Pctr</div>
                  <div><b>{{totalPctr?totalPctr:0}}</b> </div>
                </div>
              </div>
              <div class="col-md-2 pr-0">
                <div class='bordered'>
                  <div>Tot Qty</div>
                  <div><b>{{totalQty?totalQty:0}}</b></div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="bordered">
                  <div>DSeq</div>
                  <div>
                    <b>{{dropSeq?dropSeq:'--'}}</b>
                  </div>
                </div>
              </div>

        </div>

      </div>
    </div>
    <div class="row margin-bottom-5">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 pr-0">
            <div class='bordered'>
              <div>Other Qty</div>
              <div>
                <b>{{otherQty?otherQty:0}}</b>
              </div>
            </div>
          </div>
          <div class="col-md-2 pr-0">
            <div class="bordered">
              <div>Category</div>
              <div>
                <b>{{loadslipCategory || '--'}}</b>
              </div>
            </div>
          </div>
          <div class="col-md-2 pr-0">
            <div class="bordered">
              <div>
                Arrived Bay
              </div>
              <!-- <div>
                <b> {{bayArrivedDate ? (bayArrivedDate | customDateFormat | date:'dd-MMM-yyyy,HH:mm') : '--'}} </b>
              </div> -->
              <div [title]="bayArrivedDate" [ngClass]="{'cursor-pointer':bayArrivedDate?.length>9}" >
                <b>{{bayArrivedDate ? (bayArrivedDate?.length>9) ? (bayArrivedDate | slice:0:9)+'..':(bayArrivedDate) : '--'}}</b>
            </div>
            </div>
          </div>
          <div class="col-md-2 pr-0">
            <div class="bordered">
              <div>
                Print LS
              </div>
             <!--  <div>
                <b> {{lsPrintDate ? (lsPrintDate | customDateFormat | date:'dd-MMM-yyyy,HH:mm') : '--'}} </b>
              </div> -->
              <div [title]="lsPrintDate" [ngClass]="{'cursor-pointer':lsPrintDate?.length>9}" >
                <b>{{lsPrintDate ? (lsPrintDate?.length>9) ? (lsPrintDate | slice:0:9)+'..':(lsPrintDate) : '--'}}</b>
            </div>
            </div>
          </div>
          <div class="col-md-2 pr-0">
            <div class="bordered">
              <div>
                Send Barcode
              </div>
              <!-- <div>
                <b> {{sendForBarcodeDate ? (sendForBarcodeDate | customDateFormat | date:'dd-MMM-yyyy,HH:mm') : '--'}}
                </b>
              </div> -->
              <div [title]="sendForBarcodeDate" [ngClass]="{'cursor-pointer':sendForBarcodeDate?.length>9}" >
                <b>{{sendForBarcodeDate ? (sendForBarcodeDate?.length>9) ? (sendForBarcodeDate | slice:0:9)+'..':(sendForBarcodeDate) : '--'}}</b>
            </div>
            </div>
          </div>
          <div class="col-md-2 pr-0">
            <div class="bordered">
              <div>
                Loading Start
              </div>
              <!-- <div>
                <b> {{loadingStartDate ? (loadingStartDate | customDateFormat | date:'dd-MMM-yyyy,HH:mm') : '--'}} </b>
              </div> -->
              <div [title]="loadingStartDate" [ngClass]="{'cursor-pointer':loadingStartDate?.length>9}" >
                <b>{{loadingStartDate ? (loadingStartDate?.length>9) ? (loadingStartDate | slice:0:9)+'..':(loadingStartDate) : '--'}}</b>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          
          <div class="col-md-2 pr-0">
            <div class="bordered">
              <div>
                Loading End
              </div>
              <!-- <div>
                <b> {{loadingEndDate ? (loadingEndDate | customDateFormat | date:'dd-MMM-yyyy,HH:mm') : '--'}} </b>
              </div> -->
              <div [title]="loadingEndDate" [ngClass]="{'cursor-pointer':loadingEndDate?.length>9}" >
                <b>{{loadingEndDate ? (loadingEndDate?.length>9) ? (loadingEndDate | slice:0:9)+'..':(loadingEndDate) : '--'}}</b>
            </div>
            </div>
          </div>
          <div class="col-md-2 pr-0">
            <div class="bordered">
              <div>
                Conf Time
              </div>
              <!-- <div>
                <b> {{confirmedDate ? (confirmedDate | customDateFormat | date:'dd-MMM-yyyy,HH:mm') : '--'}} </b>
              </div> -->
              <div [title]="confirmedDate" [ngClass]="{'cursor-pointer':confirmedDate?.length>9}" >
                <b>{{confirmedDate ? (confirmedDate?.length>9) ? (confirmedDate | slice:0:9)+'..':(confirmedDate) : '--'}}</b>
            </div>
            </div>
          </div>
          <div class="col-md-2 pr-0">
            <div class="bordered">
              <div>
                Release Time
              </div>
              <!-- <div>
                <b> {{releasedDate ? (releasedDate | customDateFormat | date:'dd-MMM-yyyy,HH:mm') : '--'}} </b>
              </div> -->
              <div [title]="releasedDate" [ngClass]="{'cursor-pointer':releasedDate?.length>9}" >
                <b>{{releasedDate ? (releasedDate?.length>9) ? (releasedDate | slice:0:9)+'..':(releasedDate) : '--'}}</b>
            </div>
            </div>
          </div>
          <div class="col-md-2 pr-0">
            <div class="bordered">
              <div>
                STO/SO
              </div>
              <!-- <div>
                <b> {{stoso ? stoso : '--'}} </b>
              </div> -->
              <div [title]="stoso" [ngClass]="{'cursor-pointer':stoso?.length>9}" >
                <b>{{stoso ? (stoso?.length>9) ? (stoso | slice:0:9)+'..':(stoso) : '--'}}</b>
            </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="bordered">
              <div>
                TTE QTY
              </div>
              <div>
                <b> {{tteQty ? (tteQty | number : '1.2-2') : '--'}} </b>
              </div>
            </div>
          </div>
          <div class="col-md-2 pl-0">
            <div class='bordered'>
              <div>City</div>
              <div [title]="city" [ngClass]="{'cursor-pointer':city?.length>8}">
                <b>{{city ? (((city?.length>8)? (city | slice:0:8)+'..':(city)) | uppercase) : '--'}}</b>
              </div>
            </div>
          </div>

          
          
          

        </div>
        
      </div>
    </div>
  </div>
  <ngx-datatable class='material ' #table [columnMode]="'force'" [headerHeight]="50" [rows]="invoiceData"
    [footerHeight]="30" [rowHeight]="'auto'" [scrollbarH]="horizontalScroll()">
    <ngx-datatable-column name="STO SO Number" [width]="140" [resizeable]="false" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.stoSoNum}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Invoice Number" [width]="140" [resizeable]="false" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.invoieNum}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="GRN Number" [width]="140" [resizeable]="false" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.grnNum}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Item Id" [width]="150" [resizeable]="false" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.itemId}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Item Description" [width]="220" [resizeable]="false" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.itemDesc}} </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Source" [width]="150" [resizeable]="false" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.souceLoc}} </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Destination" [width]="150" [resizeable]="false" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.destLoc}} </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Load Slip QTY" [width]="170" [resizeable]="false" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.loadslipQty}} </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Invoice QTY" [width]="170" [resizeable]="false" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.invoiceQty}} </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="GRN QTY" [width]="170" [resizeable]="false" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.grnQty}} </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="DIT QTY" [width]="170" [resizeable]="false" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.ditQty}} </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Short QTY" [width]="170" [resizeable]="false" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.shotQty}} </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>