<app-loader *ngIf="isLoading"></app-loader>
<div class="container-fluid">
  <h6 class="mt-item-header">
      <b> PaaS Masters &gt; ELR</b>
    <span class="pull-right refresh-span">
        <button class="theme-small-button" (click)="displayAddForm()" matTooltip="Add New">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
       <!-- <button class="theme-small-button" [routerLink]="['/admin/paas-masters/upload-mt-elr']" matTooltip="Upload excel">
        <i class="fa fa-upload" aria-hidden="true"></i>
      </button>  -->
      <button class="theme-small-button" (click)="export()" matTooltip="Export to excel">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
      </button>
      <button class="theme-small-button" (click)="refreshData()" matTooltip="Refresh">
        <i class="fa fa-repeat fa-2x" aria-hidden="true"></i>
      </button>
      <button class="theme-small-button" (click)="showFilter()" matTooltip="filter">
        <i class="fa fa-filter fa-2x" aria-hidden="true"></i>
      </button>
    </span>
  </h6>

<div class="mt-item-fields" *ngIf="isShow">
  <div class="col-md-12 row">
    <div class="col-md-12 padding-right-40">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <input matInput placeholder="Location Id" [(ngModel)]="locationId" name="locationId"> 
            <!-- <mat-select placeholder="Location Id" [(ngModel)]="locationId" name="locationId" #prior="ngModel">
              <mat-option *ngFor="let loc of locationIds" [value]="loc">
                {{loc}}
              </mat-option>
            </mat-select> -->
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput placeholder="Servprov" [(ngModel)]="servprov" name="servprov"> 
            <!-- <mat-select placeholder="Servprov" [(ngModel)]="servprov" name="servprov" #prior="ngModel">
              <mat-option *ngFor="let loc of servProsArray" [value]="loc">
                {{loc}}
              </mat-option>
            </mat-select> -->
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput placeholder="Elr Flag" [(ngModel)]="elrFlag" name="elrFlag"> 
            <!-- <mat-select placeholder="ELR Flag" [(ngModel)]="elrFlag" name="elrFlag" #prior="ngModel">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select> -->
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="pull-right">
      <div class="search-fileds">
        <button class="theme-small-button" (click)="doSubmitSearch()" matTooltip="Search">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </button>
        <button class="theme-delete-button" (click)="clearAll()" matTooltip="Clear All">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>

  </div>
</div>





  <div class="mt-item-table">
    <div>
      <!-- <ngx-datatable class='material ngx-table-custom-scroll  ngx-table-tr-custom-scroll' #table [rows]='responseItemsList' [scrollbarH]="true" 
      [externalPaging]="true" (page)="datatablePageData($event)"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="page.limit" [count]="page.count" [offset]="page.offset"> -->
      
        <ngx-datatable class='material ngx-table-custom-scroll  ngx-table-tr-custom-scroll' #table [columnMode]="'force'"
        [rows]='responseItemsList' [externalPaging]="true" (page)="datatablePageData($event)" [scrollbarH]="false"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="page.limit" [count]="page.count"
        [offset]="page.offset">  
        
        <ngx-datatable-column name="Location Id" [width]="120" [resizeable]="false" prop="locationId" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.locationId}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Servprov" [width]="120" [resizeable]="false" prop="servprov" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.servprov}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ELR Flag" [width]="85" [resizeable]="false" prop="elrFlag" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.elrFlag}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Insert User" [width]="120" [resizeable]="false" prop="insertUser" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.insertUser}}
            </ng-template>
          </ngx-datatable-column>
  
        <ngx-datatable-column name="Insert Date" [width]="120" [resizeable]="false" prop="insertDate" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{trimDate(row.insertDate)}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Update User" [width]="120" [resizeable]="false" prop="updateUser" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.updateUser}}
            </ng-template>
          </ngx-datatable-column>
  
  
        <ngx-datatable-column name="Update Date" [width]="120" [resizeable]="false" prop="updateDate" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{trimDate(row.updateDate)}}
          </ng-template>
        </ngx-datatable-column>
  
        <ngx-datatable-column name="Action" [width]="80" [resizeable]="false" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
            <button class="theme-small-button btn" matTooltip="Modify" (click)="showUpdateModel(row)" [disabled]="(row.isError)">
              <i class="fa fa-edit fa-2x" aria-hidden="true"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
           <!-- Footer Template starts -->
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
          <div class="page-count">
            <span *ngIf="selectedCount">
              {{selectedCount.toLocaleString()}} Selected |
            </span>
            Showing {{(offset * pageSize)+1}} to {{(rowCount>
            (curPage*pageSize))?(curPage*pageSize):(rowCount)}} of
            {{(rowCount)}} records.
          </div>
          <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize"
            [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
      <!-- Footer Template Ends -->
  
      </ngx-datatable>
    </div>
  </div>
  </div>



<!--  -->
<div class="modal" id="myModal">
<div class="modal-dialog">
<div class="modal-content">
<form name="form" #f="ngForm" (ngSubmit)="(f.form.valid && updateForm(f))">
  <div class="modal-header">
    <h4 class="modal-title text-primary">Update ELR</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
  <div class="modal-body">
      <div class="form-group">
      <mat-form-field appearance="standard" class="example-full-width">
          <mat-select placeholder="ELR Flag" [(ngModel)]="elrFlagu" name="elrFlagu" #prior="ngModel"
          required>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
        <!-- <input matInput placeholder="Scannable" aria-label="State" [(ngModel)]="scannableu" name="scannableu"
          required autocomplete="off"> -->
        <mat-error *ngIf="(f.submitted && elrFlagu.invalid)">
          <p *ngIf="elrFlagu.errors.required">ELR Flag is
            <strong>required</strong>
          </p>
        </mat-error>
        <p class="mtop6">ELR Flag</p>
      </mat-form-field>
    </div>

      <!-- <div class="form-group">
          <mat-form-field appearance="standard" class="example-full-width">
            <input matInput placeholder="Location Id" aria-label="State" [(ngModel)]="locationIdu" name="locationIdu"
              required autocomplete="off">
            <mat-error *ngIf="(f.submitted && locationIdu.invalid)">
              <p *ngIf="locationIdu.errors.required">Location Id is <strong>required</strong>
              </p>
            </mat-error>
          </mat-form-field>
        </div> -->


    <!-- <div class="form-group">
      <mat-form-field appearance="standard" class="example-full-width">
        <input matInput placeholder="Serv Prov" aria-label="State" [(ngModel)]="servprovu" name="servprovu"
          required autocomplete="off">
        <mat-error *ngIf="(f.submitted && servprovu.invalid)">
          <p *ngIf="servprovu.errors.required">Batch Code is
            <strong>required</strong>
          </p>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field appearance="standard" class="example-full-width">
          <input matInput placeholder="Elr Flag" aria-label="State" [(ngModel)]="elrFlagu" name="elrFlagu"
            required autocomplete="off">
          <mat-error *ngIf="(f.submitted && elrFlagu.invalid)">
            <p *ngIf="elrFlagu.errors.required">Batch Code is
              <strong>required</strong>
            </p>
          </mat-error>
        </mat-form-field>
      </div> -->
   
  </div>
  <div class="modal-footer">
    <button type="submit" mat-raised-button color="primary" class="btm-action-btn">Update</button>
    <button type="button" mat-raised-button class="mat-default" color="default" data-dismiss="modal">Close</button>
  </div>
</form>
</div>
</div>
</div>



<br><br>
<div class="mt-item-fields" *ngIf="displayForm">
<div class="col-md-12 text-center padding-right-40">
<mat-card>
<form name="form" #f="ngForm" (ngSubmit)="(f.form.valid && saveForm(f))">
  <h4 class="mt-item-header text-center text-primary">
    <b> Add ELR </b></h4>
  <br>
  <div class="row">
    <!-- <div class="col-md-2">
            </div> -->
    <div class="col-md-3">
      <div class="form-group">
        <mat-form-field>
          <!-- <input matInput placeholder="Location Id" [(ngModel)]="locationIdf" name="locationIdf" required #qty="ngModel"> -->
          <mat-select placeholder="Location Id" [(ngModel)]="locationIdf" name="locationIdf" #qty="ngModel" required>
              <mat-option *ngFor="let loc of locationIds" [value]="loc">
                {{loc}}
              </mat-option>
            </mat-select>
          <mat-error *ngIf="(f.submitted && qty.invalid)">
              <p *ngIf="qty.errors.required">Location Id is <strong>required</strong></p>
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <mat-form-field>
          <!-- <input matInput placeholder="Servprov" [(ngModel)]="servprovf" name="servprovf" required #qty="ngModel"> -->
          <mat-select placeholder="Servprov" [(ngModel)]="servprovf" name="servprovf" #qty="ngModel" required>
              <mat-option *ngFor="let loc of servProsArray" [value]="loc">
                {{loc}}
              </mat-option>
            </mat-select>
          <mat-error *ngIf="(f.submitted && qty.invalid)">
              <p *ngIf="qty.errors.required">Servprov is <strong>required</strong></p>
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <mat-form-field>
          <!-- <input matInput placeholder="ELR Flag" [(ngModel)]="elrFlagf" name="elrFlagf" required #qty="ngModel">
          <mat-error *ngIf="(f.submitted && qty.invalid)">
              <p *ngIf="qty.errors.required">Elr Flag is <strong>required</strong></p>
            </mat-error> -->
            <mat-select placeholder="ELR Flag" [(ngModel)]="elrFlagf" name="elrFlagf" #qty="ngModel" required>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
        <!-- <input matInput placeholder="Scannable" aria-label="State" [(ngModel)]="scannableu" name="scannableu"
          required autocomplete="off"> -->
        <mat-error *ngIf="(f.submitted && qty.invalid)">
          <p *ngIf="qty.errors.required">ELR Flag is <strong>required</strong>
          </p>
        </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <button mat-raised-button color="primary" class="btm-action-btn">Save</button>
      </div>
    </div>
  </div>
</form>
</mat-card>
</div>
</div>
