<app-loader *ngIf="isLoading"></app-loader>
<div class="container-fluid">
  <h6 class="mt-item-header">
      <b> PAAS Masters &gt; Valve</b>
    <span class="pull-right refresh-span">
        <button class="theme-small-button" (click)="displayAddForm()" matTooltip="Add New">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
      <!-- <button class="theme-small-button" (click)="upload()" matTooltip="Upload excel">
        <i class="fa fa-upload" aria-hidden="true"></i>
      </button> -->
      <button class="theme-small-button" (click)="export()" matTooltip="Export to excel">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
      </button>
      <button class="theme-small-button" (click)="refreshData()" matTooltip="Refresh">
        <i class="fa fa-repeat fa-2x" aria-hidden="true"></i>
      </button>
      <button class="theme-small-button" (click)="showFilter()" matTooltip="filter">
        <i class="fa fa-filter fa-2x" aria-hidden="true"></i>
      </button>
    </span>
  </h6>

  </div>

  <br><br>
<div class="mt-item-fields" *ngIf="displayForm">
<div class="col-md-12 text-center padding-right-40">
<!-- <mat-card> -->

  <h4 class="mt-item-header text-center text-primary">
    <b> Add Contact </b></h4>
  <br>

  <div class="create-user container-fluid">
    
  <form #createUserForm="ngForm" name="createUserForm" (ngSubmit)="createUserForm.form.valid && saveForm(createUserForm)"> 
   <div class="form-group">
     <div class="row">
       <div class="col-sm-6">
         <div class="row">
           <div class="col-sm-3"></div>
           <div class="col-sm-7">
             <div class="form-group">
               <mat-form-field>
                  <input matInput placeholder="User Id" [(ngModel)]="userId" name="userId" required #qty="ngModel">
                  <mat-error *ngIf="(createUserForm.submitted && qty.invalid)">
                      <p *ngIf="qty.errors.required">User Id is <strong>required</strong></p>
                    </mat-error>
               </mat-form-field>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-sm-3"></div>
           <div class="col-sm-7">
             <div class="form-group">
               <div class="form-group">
                 <mat-form-field>
                     <mat-select placeholder="User Role Id" [(ngModel)]="userRoleId" name="userRoleId" #qty="ngModel" required>
                         <mat-option *ngFor="let loc of userRoleIds" [value]="loc">
                           {{loc}}
                         </mat-option>
                       </mat-select>
                       <mat-error *ngIf="(createUserForm.submitted)">
                           <p *ngIf="qty.errors.required">User Role Id is <strong>required</strong></p>
                         </mat-error>
                 </mat-form-field>
               </div>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-sm-3"></div>
           <div class="col-sm-7">
             <div class="form-group">
               <mat-form-field>
                 <input matInput placeholder="First Name" [(ngModel)]="firstName"  name="firstName" required oninput="this.value = this.value.toUpperCase()">
                 <mat-error *ngIf="(createUserForm.submitted && qty.invalid)">First Name is <strong>required</strong></mat-error>
               </mat-form-field>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-sm-3"></div>
           <div class="col-sm-7">
             <div class="form-group">
               <mat-form-field>
                 <input matInput placeholder="Last Name" aria-label="State" [(ngModel)]="lastName"  name="lastName" required oninput="this.value = this.value.toUpperCase()">
                 <mat-error *ngIf="(createUserForm.submitted && qty.invalid)">Last Name is <strong>required</strong></mat-error>
               </mat-form-field>
             </div>
           </div>
         </div>
       </div>
       <div class="col-sm-6">
         <div class="row">
           <div class="col-sm-7">
             <div class="form-group">
               <mat-form-field>
                 <input matInput placeholder="Email" aria-label="State" [(ngModel)]="email" name="email" required>
                 <mat-error *ngIf="(createUserForm.submitted && qty.invalid)">Email is <strong>required</strong></mat-error>
               </mat-form-field>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-sm-7">
             <div class="form-group">
               <mat-form-field>
                   <mat-select placeholder="Plant Code" [(ngModel)]="plantCode" name="plantCode" #qty="ngModel" required>
                       <mat-option *ngFor="let loc of locationIds" [value]="loc">
                         {{loc}}
                       </mat-option>
                     </mat-select>
                     <mat-error *ngIf="(createUserForm.submitted)">
                         <p *ngIf="qty.errors.required">Plant Code is <strong>required</strong></p>
                       </mat-error>
                 <!-- <mat-error *ngIf="plantCode.invalid && (createUserForm.submitted ||plantCode.touched)">{{getErrorMessage("plantCode")}}</mat-error> -->
               </mat-form-field>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-sm-7">
             <div class="form-group">
               <mat-form-field>
                 <input matInput placeholder="Password" aria-label="State" type="password" [(ngModel)]="password" name="password" required>
                 <mat-error *ngIf="(createUserForm.submitted && qty.invalid)">Password is <strong>required</strong></mat-error>
               </mat-form-field>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-sm-7">
             <div class="form-group">
               <mat-form-field>
                 <input matInput placeholder="Confirm Password" aria-label="State"  (keyup)="onKeyUp($event)" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                 <mat-error *ngIf="(createUserForm.submitted && qty.invalid)">Confirm Password is <strong>required</strong></mat-error>
                 <div *ngIf="linebreaker">
                    <br><br><p class="mat-error mat-form-field-subscript-wrapper"> {{values}}</p>
                 </div>
                </mat-form-field>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-sm-6">
         <div class="row">
           <div class="col-sm-3">
           </div>
           <div class="col-sm-2">
             <button mat-raised-button class="btm-action-btn">Create</button>
           </div>
         </div>
       </div>
     </div>

   </div>
 </form>
</div>
                  

<!-- 
</mat-card> -->
</div>
</div>
