<app-loader *ngIf="isLoading"></app-loader>
<div class="container-fluid">
  <h6 class="mt-item-header">
    <b> PaaS Masters &gt; Location Scan </b>
    <span class="pull-right refresh-span">
      <!-- <button class="theme-small-button" (click)="upload()" matTooltip="Upload excel">
        <i class="fa fa-upload" aria-hidden="true"></i>
      </button> -->
      <button class="theme-small-button" (click)="displayAddForm()" matTooltip="Add New Location">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
      <!-- <button class="theme-small-button" [routerLink]="['/admin/paas-masters/upload-location-scan']" matTooltip="Upload excel">
        <i class="fa fa-upload" aria-hidden="true"></i>
      </button> -->
      <button class="theme-small-button" (click)="export()" matTooltip="Export to excel">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
      </button>
      <button class="theme-small-button" (click)="refreshData()" matTooltip="Refresh">
        <i class="fa fa-repeat fa-2x" aria-hidden="true"></i>
      </button>
      <button class="theme-small-button" (click)="showFilter()" matTooltip="filter">
        <i class="fa fa-filter fa-2x" aria-hidden="true"></i>
      </button>
    </span>
  </h6>





 


<div class="mt-item-fields" *ngIf="isShow">
<div class="col-md-12 row">
<div class="col-md-12 padding-right-40">
<div class="row">
  <div class="col-md-6 pd-0">
    <div class="row">
      <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Location Id" [(ngModel)]="locationId" name="locationId">
          </mat-form-field>
      </div>
      <div class="col-md-4">
          <mat-form-field>
            <!-- <input matInput placeholder="Scannable" [(ngModel)]="scannable" name="scannable"> -->
            <mat-select placeholder="Scannable" [(ngModel)]="scannable" name="scannable" #prior="ngModel">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Item Category" [(ngModel)]="itemCategory" name="itemCategory" oninput="this.value = this.value.toUpperCase()">
          </mat-form-field>
      </div>
    </div>
  </div>
  <div class='col-md-6 pd-0'>
    <div class="row mg-0">
    </div>
  </div>
</div>
</div>
<div class="pull-right">
<div class="search-fileds">
  <button class="theme-small-button" (click)="doSubmitSearch()" matTooltip="Search">
    <i class="fa fa-search fa-2x" aria-hidden="true"></i>
  </button>
  <button class="theme-delete-button" (click)="clearAll()" matTooltip="Clear All">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>
</div>
</div>
</div>



 

  <div class="mt-item-table">
    <div>
        <!-- class='material ngx-table-custom-scroll  ngx-table-tr-custom-scroll' -->
        <!-- <ngx-datatable class='material ngx-table-custom-scroll  ngx-table-tr-custom-scroll' #table 
        [rows]='resultDataList' [externalPaging]="true"
        (page)="datatablePageData($event)" [scrollbarH]="true" [headerHeight]="50" 
        [footerHeight]="50" [rowHeight]="'auto'"
        [limit]="page.limit" [count]="page.count" [offset]="page.offset"> -->
  <ngx-datatable class='material ngx-table-custom-scroll  ngx-table-tr-custom-scroll' #table [columnMode]="'force'"
    [rows]='resultDataList' [externalPaging]="true" (page)="datatablePageData($event)" [scrollbarH]="false"
    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="page.limit" [count]="page.count"
    [offset]="page.offset">
  
    <ngx-datatable-column name="Location Id" [width]="100" [resizeable]="false" prop="locationId" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.locationId}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Scannable" [width]="100" [resizeable]="false" prop="scannable" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.scannable}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Item Category" [width]="120" [resizeable]="false" prop="itemCategory" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.itemCategory}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Insert User" [width]="100" [resizeable]="false" prop="insertUser" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.insertUser}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Insert Date" [width]="100" [resizeable]="false" prop="insertDate" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{formatDate(row.insertDate)}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Update User" [width]="100" [resizeable]="false" prop="updateUser" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.updateUser}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Update Date" [width]="100" [resizeable]="false" prop="updateDate" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{trimDate(row.updateDate)}}
      </ng-template>
    </ngx-datatable-column>
    <!-- <i class="fa fa-pencil" aria-hidden="true" (click)="showComments(row.comments,row.loadslipId)"></i> -->
    <ngx-datatable-column name="Action" [width]="80" [resizeable]="false" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
        <button class="theme-small-button btn" matTooltip="Modify Item" (click)="showUpdateModel(row)"
          [disabled]="(row.isError)">
          <i class="fa fa-edit fa-2x" aria-hidden="true"></i>
        </button>
      </ng-template>
    </ngx-datatable-column>
       <!-- Footer Template starts -->
       <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
          <div class="page-count">
            <span *ngIf="selectedCount">
              {{selectedCount.toLocaleString()}} Selected |
            </span>
            Showing {{(offset * pageSize)+1}} to {{(rowCount>
            (curPage*pageSize))?(curPage*pageSize):(rowCount)}} of
            {{(rowCount)}} records.
          </div>
          <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize"
            [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
      <!-- Footer Template Ends -->
  </ngx-datatable>
    </div>
  </div>
</div>

  <div class="modal" id="myModal"><div class="modal-dialog">
    <div class="modal-content">
      <form name="form" #f="ngForm"  (ngSubmit)="(f.form.valid && updateLocationScan(f))">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-primary">Update Location Scan</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
              <mat-form-field appearance="standard" class="example-full-width">
                  <mat-select placeholder="Scannable" [(ngModel)]="scannableu" name="scannableu" #prior="ngModel"
                  required>
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="(f.submitted && scannableu.invalid)">
                  <p *ngIf="scannableu.errors.required">Scannableu is
                    <strong>required</strong>
                  </p>
                </mat-error>
                <p class="mtop6">Scannable</p>
              </mat-form-field>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-danger" >Close</button> -->
          <button type="submit" mat-raised-button color="primary" class="btm-action-btn">Update</button>
          <button type="button" mat-raised-button class="mat-default" color="default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  <br><br>







  <!--                         
                    <input matInput placeholder="Location Id" [(ngModel)]="locationIdF" name="locationIdF" required
                      #qty="ngModel">
                    <mat-error *ngIf="(f.submitted && qty.invalid)">
                      <p *ngIf="qty.errors.required">Location Id is
                        <strong>required</strong>
                      </p>
                    </mat-error> -->
 <!-- <mat-form-field appearance="standard">
                              <mat-label>Location Id</mat-label>
                              <input matInput aria-label="Location Id" (keyup)="getfilterDestination($event)" autocomplete="off"
                                [matAutocomplete]="statesAutocomplete" [(ngModel)]="locationIdF" name="locationIdF"
                                #locationIdF="ngModel" required>
                              <mat-autocomplete #statesAutocomplete="matAutocomplete">
                                <mat-option *ngFor="let list of destinationList" [value]="list.value">
                                  <span matTooltip={{list.description}}>{{list.value}} - ({{list.description}})</span>
                                </mat-option>
                              </mat-autocomplete>
                              <mat-error *ngIf="(f.submitted && destinationLocation.invalid)">
                                <p *ngIf="destinationLocation.errors.required">Location Id is
                                  <strong>required</strong>
                                </p>
                              </mat-error>
                            </mat-form-field> -->


<div class="mt-item-fields" *ngIf="displayForm">
  <div class="col-md-12 padding-right-40">
    <mat-card>
      <form name="form" #f="ngForm" (ngSubmit)="(f.form.valid && addNewLocation(f))">
        <h4 class="mt-item-header text-center text-primary">
          <b> Add New Location </b></h4>
        <br>
        <div class="row">
          <div class='col-md-1 pd-0'>
            <div class="row mg-0">
            </div>
          </div>
          <div class="col-md-6 pd-0">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <mat-form-field>
                      <mat-select placeholder="Location Id" [(ngModel)]="locationIdF" name="locationIdF" #qty="ngModel" required>
                          <mat-option *ngFor="let loc of locationIds" [value]="loc">
                            {{loc}}
                          </mat-option>
                        </mat-select>
                      <mat-error *ngIf="(f.submitted && qty.invalid)">
                          <p *ngIf="qty.errors.required">Location Id is <strong>required</strong></p>
                        </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <mat-form-field>
                    <!-- <input matInput placeholder="Scannable" [(ngModel)]="scannableF" name="scannableF"> -->
                    <mat-select placeholder="Scannable" [(ngModel)]="scannableF" name="scannableF" #qty="ngModel"
                      required>
                      <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="(f.submitted && qty.invalid)">
                        <p *ngIf="qty.errors.required">Scannable is <strong>required</strong>
                        </p>
                      </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class='col-md-5 pd-0'>
            <div class="row mg-0">
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <input matInput placeholder="Item Category" [(ngModel)]="itemCategoryF" name="itemCategoryF"> -->
                  <mat-form-field appearance="standard">
                    <mat-label>Item Category</mat-label>
                    <!-- <input matInput [(ngModel)]="itemCategoryF" name="itemCategoryF" autocomplete="off" required #qty="ngModel">
                    <mat-error *ngIf="(f.submitted && qty.invalid)">
                      <p *ngIf="qty.errors.required">Item Category is
                        <strong>required</strong>
                      </p>
                    </mat-error> -->
                    <mat-select placeholder="Item Category" [(ngModel)]="itemCategoryF" name="itemCategoryF" #qty="ngModel" required>
                        <mat-option *ngFor="let loc of scmGroupList" [value]="loc">
                          {{loc}}
                        </mat-option>
                      </mat-select>
                    <mat-error *ngIf="(f.submitted && qty.invalid)">
                        <p *ngIf="qty.errors.required">Item Category is <strong>required</strong></p>
                      </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <button mat-raised-button color="primary" type="submit" matTooltip="Add Location Scan" class="btm-action-btn">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
