<app-loader *ngIf="isLoading"></app-loader>
<div class="container-fluid">
  <h6 class="mt-item-header">
      <b> SAP Masters &gt; Transporter</b>
    <span class="pull-right refresh-span">
        <!-- <button class="theme-small-button" (click)="displayAddForm()" matTooltip="Add New Location">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button> -->
      <!-- <button class="theme-small-button" (click)="upload()" matTooltip="Upload excel">
        <i class="fa fa-upload" aria-hidden="true"></i>
      </button> -->
      <button class="theme-small-button" (click)="export()" matTooltip="Export to excel">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
      </button>
      <button class="theme-small-button" (click)="refreshData()" matTooltip="Refresh">
        <i class="fa fa-repeat fa-2x" aria-hidden="true"></i>
      </button>
      <button class="theme-small-button" (click)="showFilter()" matTooltip="filter">
        <i class="fa fa-filter fa-2x" aria-hidden="true"></i>
      </button>
    </span>
  </h6>


<div class="mt-item-fields" *ngIf="isShow">
<div class="col-md-12 row">
<div class="col-md-12 padding-right-40">
  <div class="row">
    <div class="col-md-2">
        <mat-form-field>
          <input matInput placeholder="Transporter Id" [(ngModel)]="transporterId" name="transporterId">
        </mat-form-field>
    </div>
    <div class="col-md-2">
          <mat-form-field>
            <input matInput placeholder="Transporter Description" [(ngModel)]="transporterDesc" name="transporterDesc">
          </mat-form-field>
      </div>
      <div class="col-md-2">
            <mat-form-field>
              <input matInput placeholder="Servprov" [(ngModel)]="servprov" name="servprov">
            </mat-form-field>
        </div>
  </div>
</div>
<div class="pull-right">
  <div class="search-fileds">
    <button class="theme-small-button" (click)="doSubmitSearch()" matTooltip="Search">
      <i class="fa fa-search fa-2x" aria-hidden="true"></i>
    </button>
    <button class="theme-delete-button" (click)="clearAll()" matTooltip="Clear All">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
</div>
</div>
</div>




<div class="mt-item-table">
<ngx-datatable class='material ngx-table-custom-scroll  ngx-table-tr-custom-scroll' #table [rows]='responseItemsList' [scrollbarH]="true" [externalPaging]="true"
  (page)="datatablePageData($event)" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="page.limit"
  [count]="page.count" [offset]="page.offset">
  
  <ngx-datatable-column name="Transporter Id" [width]="100" [resizeable]="false" prop="transporterId" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.id}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Transporter Description" [width]="200" [resizeable]="false" prop="transporterDesc" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.description}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Servprov" [width]="100" [resizeable]="false" prop="servprov" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.servprov}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Transporter Address" [width]="300" [resizeable]="false" prop="transporterAddress" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.address}}
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column name="City" [width]="140" [resizeable]="false" prop="city" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.city}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="State" [width]="120" [resizeable]="false" prop="state" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.state}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Postal Code" [width]="90" [resizeable]="false" prop="postalCode" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.postalCode}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Country" [width]="70" [resizeable]="false" prop="country" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.country}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Is Active" [width]="70" [resizeable]="false" prop="isActive" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.isActive}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Industry Key" [width]="90" [resizeable]="false" prop="industryKey" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.industryKey}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="State Code" [width]="110" [resizeable]="false" prop="stateCode" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.stateCode}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="GST No" [width]="150" [resizeable]="false" prop="gstNo" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.gstNo}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="GST State" [width]="80" [resizeable]="false" prop="gstState" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.gstState}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="PAN No" [width]="110" [resizeable]="false" prop="panNo" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.panNo}}
    </ng-template>
  </ngx-datatable-column>



  <ngx-datatable-column name="Insert Date" [width]="90" [resizeable]="false" prop="insertDate" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{trimDate(row.insertDate)}}
    </ng-template>
  </ngx-datatable-column>

  <!-- <ngx-datatable-column name="Update User" [width]="130" [resizeable]="false" prop="updateUser" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.updateUser}}
    </ng-template>
  </ngx-datatable-column> -->


  <ngx-datatable-column name="Update Date" [width]="90" [resizeable]="false" prop="updateDate" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{trimDate(row.updateDate)}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Action" [width]="70" [resizeable]="false" [sortable]="false">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
      <button class="theme-small-button btn" matTooltip="Modify" (click)="showUpdateModel(row)" [disabled]="(row.isError)">
        <i class="fa fa-edit fa-2x" aria-hidden="true"></i>
      </button>
    </ng-template>
  </ngx-datatable-column>
     <!-- Footer Template starts -->
     <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
        let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
        <div class="page-count">
          <span *ngIf="selectedCount">
            {{selectedCount.toLocaleString()}} Selected |
          </span>
          Showing {{(offset * pageSize)+1}} to {{(rowCount>
          (curPage*pageSize))?(curPage*pageSize):(rowCount)}} of
          {{(rowCount)}} records.
        </div>
        <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
          [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize"
          [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
        </datatable-pager>
      </ng-template>
    </ngx-datatable-footer>
    <!-- Footer Template Ends -->
</ngx-datatable>
</div>
</div>




<!--  -->
<div class="modal" id="myModal">
<div class="modal-dialog">
<div class="modal-content">
<form name="form" #f="ngForm" (ngSubmit)="(f.form.valid && updateForm(f))">
  <div class="modal-header">
    <h4 class="modal-title text-primary">Update Transporter</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
  <div class="modal-body">
      <div class="form-group">
          <mat-form-field appearance="standard" class="example-full-width">
              <mat-select [(ngModel)]="servprovu" name="servprovu" #prior="ngModel">
              <mat-option *ngFor="let spro of servProsArray" [value]="spro">
                {{spro}}
              </mat-option>
            </mat-select>
            <!-- <input matInput placeholder="servprov" aria-label="State" [(ngModel)]="servprovu" name="servprovu"
              required autocomplete="off"> -->
            <mat-error *ngIf="(f.submitted && servprovu.invalid)">
              <p *ngIf="servprovu.errors.required">Servprov is <strong>required</strong>
              </p>
            </mat-error>
            <p class="mtop6">Servprov</p>
          </mat-form-field>
        </div>
  </div>
  <div class="modal-footer">
    <button type="submit" mat-raised-button color="primary" class="btm-action-btn">Update</button>
    <button type="button" mat-raised-button class="mat-default" color="default" data-dismiss="modal">Close</button>
  </div>
</form>
</div>
</div>
</div>



<br><br>
<div class="mt-item-fields" *ngIf="displayForm">
<div class="col-md-12 text-center padding-right-40">
<mat-card>
<form name="form" #f="ngForm" (ngSubmit)="(f.form.valid && saveForm(f))">
  <h4 class="mt-item-header text-center text-primary">
    <b> Add Transporter </b></h4>
  <br>
  <div class="row">
    <!-- <div class="col-md-2">
            </div> -->
    <div class="col-md-3">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Item Id" [(ngModel)]="itemIdf" name="itemIdf" required #qty="ngModel">
          <mat-error *ngIf="(f.submitted && qty.invalid)">
              <p *ngIf="qty.errors.required">Item Id is <strong>required</strong></p>
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Item Description" [(ngModel)]="itemDescriptionf" name="itemDescriptionf" required #qty="ngModel">
          <mat-error *ngIf="(f.submitted && qty.invalid)">
              <p *ngIf="qty.errors.required">Item Description is <strong>required</strong></p>
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Item Category" [(ngModel)]="itemCategoryf" name="itemCategoryf" required #qty="ngModel">
          <mat-error *ngIf="(f.submitted && qty.invalid)">
              <p *ngIf="qty.errors.required">Item Category is <strong>required</strong></p>
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Batch Code" [(ngModel)]="batchCodef" name="batchCodef" required #qty="ngModel">
          <mat-error *ngIf="(f.submitted && qty.invalid)">
              <p *ngIf="qty.errors.required">Batch Code is <strong>required</strong></p>
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <button mat-raised-button color="primary" class="btm-action-btn">Save</button>
      </div>
    </div>
  </div>
</form>
</mat-card>
</div>
</div>
