<app-loader *ngIf="isLoading"></app-loader>
<div class="container-fluid">
  <h6 class="manulal-plan-header">
    <b> Truck Status > Export Tracking</b>
    <span class="pull-right refresh-span">
      <button class="theme-small-button" (click)="export()" matTooltip="Export to excel">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
      </button>
      <button class="theme-small-button" (click)="refreshData()" matTooltip="Refresh">
        <i class="fa fa-repeat fa-2x" aria-hidden="true"></i>
      </button>
      <!--  <button class="theme-small-button" (click)="showFilter()" matTooltip="Filter">
        <i class="fa fa-filter fa-2x" aria-hidden="true"></i>
      </button> -->
    </span>
  </h6>
  <div class="manualplan-fields">
    <div class="col-md-12 row">
      <div class="col-md-12 padding-right-40">
        <div class="row">
          <div class="col-md-1 pl-0">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Source" aria-label="State" [matAutocomplete]="statesAutocomplete"
                  [(ngModel)]="sourceCode" name="sourceCode" (keyup)="getfilterSource($event)"
                  oninput="this.value = this.value.toUpperCase()" [disabled]="(isSoureDisable()) ">
                <mat-autocomplete #statesAutocomplete="matAutocomplete">
                  <mat-option *ngFor="let list of sourceList" [value]="list.value"
                    (click)="setDestDescription(list.description)"
                    (onSelectionChange)="setDestDescription(list.description)">
                    <span>{{list.value}}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-1 pl-0">
            <div class="form-group">
              <mat-form-field>
                <input matInput placeholder="Shipment Id" [(ngModel)]="shipmentId" name="shipmentId"
                  oninput="this.value = this.value.toUpperCase()">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-1 pl-0">
            <div class="form-group">
              <mat-form-field>
                <input matInput disabled [matDatepicker]="fromSipmentOnboardDatePicker"
                  placeholder="From Shipped On-Board Date" [(ngModel)]="fromShipmentOnboardDate"
                  name="fromShipmentOnboardDate" (dateChange)="addEvent('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="fromSipmentOnboardDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #fromSipmentOnboardDatePicker disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-1 pl-0">
            <div class="form-group">
              <mat-form-field>
                <input matInput disabled [matDatepicker]="toSipmentOnboardDatePicker" [min]="fromShipmentOnboardDate"
                  placeholder="To Shipped On-Board Date" [(ngModel)]="toShipmentOnboardDate" name="toShipmentOnboardDate">
                <mat-datepicker-toggle matSuffix [for]="toSipmentOnboardDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #toSipmentOnboardDatePicker [disabled]="!fromShipmentOnboardDate"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <!-- Insert Date Filter -->
          <div class="col-md-1 pl-0">
            <div class="form-group">
              <mat-form-field>
                <input matInput disabled [matDatepicker]="fromInsertDatePicker" placeholder="From Insert Date"
                  [(ngModel)]="fromInsertDate" name="fromInsertDate"
                  (dateChange)="addEventInsertDate('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="fromInsertDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #fromInsertDatePicker disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-1 pl-0">
            <div class="form-group">
              <mat-form-field>
                <input matInput disabled [matDatepicker]="toInsertDatePicker" [min]="fromInsertDate"
                  placeholder="To Insert Date" [(ngModel)]="toInsertDate" name="toInsertDate">
                <mat-datepicker-toggle matSuffix [for]="toInsertDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #toInsertDatePicker [disabled]="!fromInsertDate"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <!-- Gate Out Date Filter -->
          <div class="col-md-1 pl-0">
            <div class="form-group">
              <mat-form-field>
                <input matInput disabled [matDatepicker]="fromGateOutDatePicker" placeholder="From Gate Out Date"
                  [(ngModel)]="fromGateOutDate" name="fromGateOutDate" (dateChange)="addEventGateOut('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="fromGateOutDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #fromGateOutDatePicker disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-1 pl-0">
            <div class="form-group">
              <mat-form-field>
                <input matInput disabled [matDatepicker]="toGateOutDatePicker" [min]="fromGateOutDate"
                  placeholder="To Gate Out Date" [(ngModel)]="toGateOutDate" name="toGateOutDate">
                <mat-datepicker-toggle matSuffix [for]="toGateOutDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #toGateOutDatePicker [disabled]="!fromGateOutDate"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <!-- SAP DATE FILTER -->
          <div class="col-md-1 pl-0">
            <div class="form-group">
              <mat-form-field>
                <input matInput disabled [matDatepicker]="fromSapInvDatePicker" placeholder="From Sap Inv Date"
                  [(ngModel)]="fromSapInvDate" name="fromSapInvDate" (dateChange)="addEventSapInvDate('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="fromSapInvDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #fromSapInvDatePicker disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-1 pl-0">
            <div class="form-group">
              <mat-form-field>
                <input matInput disabled [matDatepicker]="toSapInvDatePicker" [min]="fromSapInvDate"
                  placeholder="To Sap Inv Date" [(ngModel)]="toSapInvDate" name="toSapInvDate">
                <mat-datepicker-toggle matSuffix [for]="toSapInvDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #toSapInvDatePicker [disabled]="!fromSapInvDate"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="pull-right">
        <div class="search-fileds">
          <button class="theme-small-button" (click)="clsSearch()" matTooltip="Search">
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
          </button>
          <button class="theme-delete-button" (click)="clearAll()" matTooltip="Clear All">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <!--  This filter will visible other user insted of new due allignment -->
    <!-- <div class="row" *ngIf="check_Role_DP_REP != roles.planner3">
      <div class="col-md-12">
        <div class="row">
          <ng-container >
           <div class="col-md-1 pr-0">
             <div class="form-group">
               <mat-form-field>
                 <input matInput placeholder="Insert User" [(ngModel)]="insertUser" name="insertUser">
               </mat-form-field>
             </div>
           </div>
         </ng-container>
        </div>
      </div>
    </div> -->
  </div>
  <div class="ngx-table-custom-scroll ngx-table-tr-custom-scroll">
    <ngx-datatable class='material' #table [rows]='clsDataList' [columnMode]="'force'" [headerHeight]="50"
      [scrollbarH]="true" [footerHeight]="30" [rowHeight]="'auto'" [externalPaging]="true" [limit]="page.limit"
      [count]="page.count" [offset]="page.offset" (page)="datatablePageData($event)">
      <ngx-datatable-column name="Source Loc" [width]="120" [resizeable]="false" [sortable]="true" prop="shipmentId"
        [frozenLeft]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.sourceLoc}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Dest Loc" [width]="120" [resizeable]="false" [sortable]="true" prop="destLoc"
        [frozenLeft]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.destLoc}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Shipment Id" [width]="150" [resizeable]="false" [sortable]="true" prop="shipmentId"
        [frozenLeft]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.shipmentId}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Loadslip Id" [width]="200" [resizeable]="false" [sortable]="true" prop="loadslipId"
        [frozenLeft]="freezeLeftValue">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.loadslipId}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gate Out Date" [width]="150" [resizeable]="false" [sortable]="true"
        prop="gateouDateStr" [frozenLeft]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.gateouDateStr ? (row.gateouDateStr | customDateFormat | date:'dd-MMM-yyyy,HH:mm' ) : ''}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Container Num" [width]="120" [resizeable]="false" [sortable]="true"
        prop="containerNum" [frozenLeft]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.containerNum}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="STO/SO Num" [width]="120" [resizeable]="false" [sortable]="true" prop="stosoNum">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.stosoNum}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Delivery" [width]="120" [resizeable]="false" [sortable]="true" prop="delivery">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.delivery}}
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column name="User" [width]="70" [resizeable]="false" [sortable]="true" prop="category">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.insertUser}}
        </ng-template>
      </ngx-datatable-column> -->
      <ngx-datatable-column name="SAP Invoice" [width]="120" [resizeable]="false" [sortable]="true" prop="sapInvoice">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.sapInvoice}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="SAP Inv Date" [width]="150" [resizeable]="false" [sortable]="true"
        prop="sapInvoiceDateStr" [frozenLeft]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.sapInvoiceDateStr ? (row.sapInvoiceDateStr | customDateFormat | date:'dd-MMM-yyyy' ) : ''}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Custom Inv Num" [width]="120" [resizeable]="false" [sortable]="true"
        prop="customInvNumber">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.customInvNumber}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="PI No" [width]="120" [resizeable]="false" [sortable]="true" prop="piNo">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.piNo}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Customer Name" [width]="120" [resizeable]="false" [sortable]="true"
        prop="customerName">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.customerName}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Inco Term" [width]="120" [resizeable]="false" [sortable]="true" prop="incoterm">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.incoterm}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="POL" [width]="120" [resizeable]="false" [sortable]="false" prop="pol">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
          <div>
            {{row.pol}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="POD" [width]="120" [resizeable]="false" [sortable]="false" prop="pod">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
          <div>
            {{row.pod}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Billing Party" [width]="120" [resizeable]="false" [sortable]="true"
        prop="billingParty">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.billingParty}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Shipping Line" [width]="120" [resizeable]="false" [sortable]="true"
        prop="shippingLine">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.shippingLine}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Cont Pick Date" [width]="150" [resizeable]="false" [sortable]="true"
        prop="contPickDateStr">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.contPickDateStr ? (row.contPickDateStr | customDateFormat | date:'dd-MMM-yyyy' ) : ''}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Stuffing Date" [width]="150" [resizeable]="false" [sortable]="true"
        prop="stuffingDateStr">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.stuffingDateStr ? (row.stuffingDateStr | customDateFormat | date:'dd-MMM-yyyy' ) : ''}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Booking Num" [width]="120" [resizeable]="false" [sortable]="true" prop="bookingNum">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.bookingNum}}
        </ng-template>
      </ngx-datatable-column>
       <ngx-datatable-column name="Pre Inv No" [width]="120" [resizeable]="false" [sortable]="true" prop="preInvNo">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.preInvNo}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Post Inv No" [width]="120" [resizeable]="false" [sortable]="true" prop="postInvNo">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.postInvNo}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="CHA" [width]="120" [resizeable]="false" [sortable]="true" prop="cha">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.cha}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Planned Vessel" [width]='120' [resizeable]="false" [sortable]="false"
        prop="plannedVessel">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.plannedVessel}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Vessel Depart Pol Date" [width]='150' [resizeable]="false" [sortable]="false"
        prop="vesselDepartPolDateStr">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.vesselDepartPolDateStr ? (row.vesselDepartPolDateStr | customDateFormat | date:'dd-MMM-yyyy' ) : ''}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Shipping Bill" [width]='120' [resizeable]="false" [sortable]="false"
        prop="shippinBill">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.shippinBill}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Shipping Bill Date" [width]='150' [resizeable]="false" [sortable]="false"
        prop="Volume">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.shippingBillDateStr ? (row.shippingBillDateStr | customDateFormat | date:'dd-MMM-yyyy' ) : ''}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gate In Date" [width]='150' [resizeable]="false" [sortable]="false"
        prop="gateInDateStr">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.gateInDateStr ? (row.gateInDateStr | customDateFormat | date:'dd-MMM-yyyy' ) : ''}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Customs Exam Date" [width]='150' [resizeable]="false" [sortable]="false"
        prop="volume">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.customsExamDateStr ? (row.customsExamDateStr | customDateFormat | date:'dd-MMM-yyyy' ) : ''}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gate Out CFS Date" [width]='150' [resizeable]="false" [sortable]="false"
        prop="gateoutDateCfsStr">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.gateoutDateCfsStr ? (row.gateoutDateCfsStr | customDateFormat | date:'dd-MMM-yyyy' ) : ''}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Gate In Port Date" [width]='150' [resizeable]="false" [sortable]="false"
        prop="gateinDatePortStr">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.gateinDatePortStr ? (row.gateinDatePortStr | customDateFormat | date:'dd-MMM-yyyy' ) : ''}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actual Vessel" [width]='120' [resizeable]="false" [sortable]="false"
        prop="actualVessel">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.actualVessel}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Shipped On-Board Date" [width]='150' [resizeable]="false" [sortable]="false"
        prop="shippedOnboardDateStr">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.shippedOnboardDateStr ? (row.shippedOnboardDateStr | customDateFormat | date:'dd-MMM-yyyy' ) : ''}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Export Remark" [width]='120' [resizeable]="false" [sortable]="false"
        prop="eportRemark">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.eportRemark}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Is Sync OTM" [width]='120' [resizeable]="false" [sortable]="false" prop="isSyncOtm">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.isSyncOtm}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="COFD" [width]='120' [resizeable]="false" [sortable]="false" prop="cofd">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.cofd}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ETA POD" [width]='150' [resizeable]="false" [sortable]="false" prop="etaPodStr">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.etaPodStr ? (row.etaPodStr | customDateFormat | date:'dd-MMM-yyyy') : ''}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Forwarder" [width]='120' [resizeable]="false" [sortable]="false" prop="forwarder">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.forwarder}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="LEO Date" [width]='150' [resizeable]="false" [sortable]="false"
        prop="shippedOnboardDateStr">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.leoDateStr ? (row.leoDateStr | customDateFormat | date:'dd-MMM-yyyy' ) : ''}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="INV Amount" [width]='120' [resizeable]="false" [sortable]="false" prop="invAmount">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.invAmount}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Payment Terms" [width]='120' [resizeable]="false" [sortable]="false"
        prop="paymentTerms">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.paymentTerms}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" [width]='120' [resizeable]="false" [sortable]="false" prop="status">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.status}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Insert Date" [width]='150' [resizeable]="false" [sortable]="false"
        prop="insertDateStr">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.insertDateStr ? (row.insertDateStr | customDateFormat | date:'dd-MMM-yyyy,HH:mm') : ''}}
        </ng-template>
      </ngx-datatable-column>

      <!-- Footer Template starts -->
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
          <div class="page-count">
            <span *ngIf="selectedCount">
              {{selectedCount.toLocaleString()}} Selected |
            </span>
            Showing {{(offset * pageSize)+1}} to {{(rowCount>
            (curPage*pageSize))?(curPage*pageSize):(rowCount)}} of
            {{(rowCount)}} records.
          </div>
          <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
            [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
            (change)="table.onFooterPage($event)">
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
      <!-- Footer Template Ends -->
    </ngx-datatable>
  </div>
</div>