
<app-loader *ngIf="isLoading"></app-loader>
<h6 class="mt-item-header">
    <b> User Management &gt; Change Password </b>
    </h6>
<br><br>
<!-- <mat-card> (click)="changePassword()"-->
<div class="change-password container-fluid">
  <form #createUserForm="ngForm" (ngSubmit)="createUserForm.form.valid && changePassword(createUserForm)">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <div class="form-group">
          <mat-form-field>
              <mat-select placeholder="User Id" [(ngModel)]="userId" name="userId" required>
                  <mat-option *ngFor="let loc of userIds" [value]="loc">
                    {{loc}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="(createUserForm.submitted)">
                    <p *ngIf="(createUserForm.submitted && qty.invalid)">Plant Code is <strong>required</strong></p>
                  </mat-error>
              <!-- <input matInput placeholder="User Id" [(ngModel)]="userId" name="userId" required #qty="ngModel"> -->
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <div class="form-group">
          <mat-form-field>
              <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password" #qty="ngModel" required>
              <mat-error *ngIf="(createUserForm.submitted && qty.invalid)">Password is <strong>required</strong></mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Confirm Password" (keyup)="onKeyUp($event)" aria-label="State" autocomplete="off" #qty="ngModel"  [(ngModel)]="confirmPassword" name="confirmPassword" required>
            <mat-error *ngIf="(createUserForm.submitted && qty.invalid)">Confirm Password is <strong>required</strong></mat-error>
            <div *ngIf="linebreaker">
                <br><p class="mat-error mat-form-field-subscript-wrapper"> {{values}}</p>
             </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"></div>
          <div class="col-sm-4"> 
            <button class="btm-action-btn" mat-raised-button>Submit</button>
      </div>
    </div>
    
  </form>
</div>
<!-- </mat-card> -->