<app-loader *ngIf="isLoading"></app-loader>
<div class="container-fluid">
  <h6 class="mt-item-header">
      <b> PaaS Masters &gt; Servprov</b>
    <span class="pull-right refresh-span">
        <button class="theme-small-button" (click)="displayAddForm()" matTooltip="Add New">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
      <!-- <button class="theme-small-button" (click)="upload()" matTooltip="Upload excel">
        <i class="fa fa-upload" aria-hidden="true"></i>
      </button> -->
      <button class="theme-small-button" (click)="export()" matTooltip="Export to excel">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
      </button>
      <button class="theme-small-button" (click)="refreshData()" matTooltip="Refresh">
        <i class="fa fa-repeat fa-2x" aria-hidden="true"></i>
      </button>
      <button class="theme-small-button" (click)="showFilter()" matTooltip="filter">
        <i class="fa fa-filter fa-2x" aria-hidden="true"></i>
      </button>
    </span>
  </h6>




<div class="mt-item-fields" *ngIf="isShow">
  <div class="col-md-12 row">
    <div class="col-md-12 padding-right-40">
      <div class="row">
            <div class="col-md-2">
                <mat-form-field>
                  <input matInput placeholder="Servprov" [(ngModel)]="scac" name="scac">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field>
                  <input matInput placeholder="Transporter Name" [(ngModel)]="companyName" name="companyName">
                </mat-form-field>
            </div>
      </div>
    </div>
    <div class="pull-right">
      <div class="search-fileds">
        <button class="theme-small-button" (click)="doSubmitSearch()" matTooltip="Search">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </button>
        <button class="theme-delete-button" (click)="clearAll()" matTooltip="Clear All">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>





  <div class="mt-item-table">
        <ngx-datatable class='material ngx-table-custom-scroll  ngx-table-tr-custom-scroll' #table [columnMode]="'force'"
      [rows]='responseItemsList' [externalPaging]="true" (page)="datatablePageData($event)" [scrollbarH]="false"
      [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="page.limit" [count]="page.count"
      [offset]="page.offset">
        
        <ngx-datatable-column name="Servprov " [width]="220" [resizeable]="false" prop="scac" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.ID}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Transporter Name" [width]="250" [resizeable]="false" prop="companyName" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.Name}}
          </ng-template>
        </ngx-datatable-column>
       
<!--   
        <ngx-datatable-column name="Action" [width]="120" [resizeable]="false" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
            <button class="theme-small-button btn" matTooltip="Modify" (click)="showUpdateModel(row)" [disabled]="(row.isError)">
              <i class="fa fa-edit fa-2x" aria-hidden="true"></i>
            </button>
          </ng-template>
        </ngx-datatable-column> -->

           <!-- Footer Template starts -->
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
          <div class="page-count">
            <span *ngIf="selectedCount">
              {{selectedCount.toLocaleString()}} Selected |
            </span>
            Showing {{(offset * pageSize)+1}} to {{(rowCount>
            (curPage*pageSize))?(curPage*pageSize):(rowCount)}} of
            {{(rowCount)}} records.
          </div>
          <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize"
            [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
      <!-- Footer Template Ends -->
  
      </ngx-datatable>
  </div>
  </div>


<br><br>
<div class="mt-item-fields" *ngIf="displayForm">
<div class="col-md-12 text-center padding-right-40">
<mat-card>
<form name="form" #f="ngForm" (ngSubmit)="(f.form.valid && saveForm(f))">
  <h4 class="mt-item-header text-center text-primary">
    <b> Add Servprov </b></h4>
  <br>
  <div class="row">
    <!-- <div class="col-md-2">
            </div> -->
    <div class="col-md-3">
      <div class="form-group">
        <mat-form-field>
           <input matInput placeholder="Servprov" [(ngModel)]="scacf" name="scacf" required #qty="ngModel" oninput="this.value = this.value.toUpperCase()">
          <mat-error *ngIf="(f.submitted && qty.invalid)">
              <p *ngIf="qty.errors.required">Servprov is <strong>required</strong></p>
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Transporter Name" [(ngModel)]="companyNamef" name="companyNamef" required #qty="ngModel" oninput="this.value = this.value.toUpperCase()">
          <mat-error *ngIf="(f.submitted && qty.invalid)">
              <p *ngIf="qty.errors.required">Transporter Name is <strong>required</strong></p>
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <button mat-raised-button color="primary" class="btm-action-btn">Save</button>
      </div>
    </div>
  </div>
</form>
</mat-card>
</div>
</div>
